/*
 * jQuery FlexSlider v2.0
 * http://www.woothemes.com/flexslider/
 *
 * Copyright 2012 WooThemes
 * Free to use under the GPLv2 license.
 * http://www.gnu.org/licenses/gpl-2.0.html
 *
 * Contributing author: Tyler Smith (@mbmufffin)
 */
/* Browser Resets */
.flex-container {
	margin: 0 auto; border-bottom: 4px solid #EFEFEF; margin-bottom: -74px;
}
.flex-container a:active,
.flexslider a:active,
.flex-container a:focus,
.flexslider a:focus  {outline: none;}
.slides,
.flex-control-nav,
.flex-direction-nav {margin: 0; padding: 0; list-style: none;} 
/* FlexSlider Necessary Styles
*********************************/ 
.flexslider {margin: 0; padding: 0;}
.flexslider .slides > li {display: none; -webkit-backface-visibility: hidden;} /* Hide the slides before the JS is loaded. Avoids image jumping */
.flexslider .slides img { margin: 0 auto; display: block; max-width: 100%; width: 100%; height: auto;}
.flex-pauseplay span {text-transform: capitalize;}
/* Clearfix for the .slides element */
.slides:after {content: "."; display: block; clear: both; visibility: hidden; line-height: 0; height: 0;} 
html[xmlns] .slides {display: block;} 
* html .slides {height: 1%;}
/* No JavaScript Fallback */
/* If you are not using another script, such as Modernizr, make sure you
 * include js that eliminates this class on page load */
.no-js .slides > li:first-child {display: block;}
/* FlexSlider Default Theme
*********************************/
.flexslider { margin: 0; background: #222; /*border: 1px solid #fff;*/ position: relative;  /*box-shadow: 0 1px 4px rgba(0,0,0,.2); -webkit-box-shadow: 0 1px 4px rgba(0,0,0,.2); -moz-box-shadow: 0 1px 4px rgba(0,0,0,.2); -o-box-shadow: 0 1px 4px rgba(0,0,0,.2);*/ zoom: 1;}
.flex-viewport {max-height: 2000px; -webkit-transition: all 1s ease; -moz-transition: all 1s ease; transition: all 1s ease; direction: ltr;}
.loading .flex-viewport {max-height: 300px;}
.flexslider .slides {zoom: 1;}
.carousel li {margin-right: 5px}
/* Direction Nav */
.flex-direction-nav {*height: 0;}
.flex-direction-nav a {width: 60px; height: 60px; margin: -20px 0 0; display: block; background: url(images/bg_direction_nav4.png) no-repeat 0 0; position: absolute; top: 50%; z-index: 10; cursor: pointer; text-indent: -9999px; opacity: 0; -webkit-transition: all .3s ease;}
.flex-direction-nav .flex-next {background-position: 100% 0; right: 5px; }
.flex-direction-nav .flex-prev {left: 5px;}
.flexslider:hover .flex-next {opacity: 0.8; right: 0;}
.flexslider:hover .flex-prev {opacity: 0.8; left: 0;}
.flexslider:hover .flex-next:hover, .flexslider:hover .flex-prev:hover {opacity: 1;}
.flex-direction-nav .flex-disabled {opacity: .3!important; filter:alpha(opacity=30); cursor: default;}
/* Control Nav */
.flex-control-nav {display:none;}
.flex-control-nav li {margin: 0 6px; display: inline-block; zoom: 1; *display: inline;}
.flex-control-paging li a {width: 11px; height: 11px; display: block; background: #666; background: rgba(0,0,0,0.5); cursor: pointer; text-indent: -9999px; -webkit-border-radius: 20px; -moz-border-radius: 20px; -o-border-radius: 20px; border-radius: 20px; box-shadow: inset 0 0 3px rgba(0,0,0,0.3);}
.flex-control-paging li a:hover { background: #333; background: rgba(0,0,0,0.7); }
.flex-control-paging li a.flex-active { background: #000; background: rgba(0,0,0,0.9); cursor: default; }
.flex-control-thumbs {margin: 5px 0 0; position: static; overflow: hidden;}
.flex-control-thumbs li {width: 25%; float: left; margin: 0;}
.flex-control-thumbs img {width: 100%; display: block; opacity: .7; cursor: pointer;}
.flex-control-thumbs img:hover {opacity: 1;}
.flex-control-thumbs .flex-active {opacity: 1; cursor: default;}
.caption_wrap { position: absolute;
color: white;
bottom: 35%;
width: 100%;
text-align: center;}
.flex-caption {  width: 860px; margin-right: auto;
margin-left: auto;
padding-left: 15px;
padding-right: 15px;}
.flex-caption p { padding: 0 0 8px 0; margin: 0; font-size: 16px; text-shadow: 1px 1px 1px #333; width: 70%;
margin: auto;}
.flex-caption a {color: #FFF;}
.flex-caption a:hover {color: #CCC;}
.flex-caption-title { padding: 0; border-radius: 0.2em; margin: 8px auto; width: 600px;}
.flex-caption-title h3{ font-size: 38px; margin-top: 0; padding: 0 0 12px; text-align: center; background: url(images/scribble.png ) no-repeat center bottom; margin: 0;}
.flex-caption-title h3 a{ color: #FFF; text-shadow: 1px 1px 1px #333;}
.flex-more-link{ padding-top: 2px;}
.flex-more-link a{ font-size: 12px; font-size: 1.2rem; text-transform: uppercase; margin-top: 0; color: #FFF; border-radius: 0.4em; padding: 6px 12px; clear: both; font-weight: 700;}
.flex-more-link a:hover{ color: #CCC;}

@media screen and (max-width: 1020px) {
   .flex-caption p { display: none;}
	.flex-more-link{ display: none;}
	.caption_wrap { position: absolute; bottom: 45%;}
}

@media screen and (max-width: 960px) {
.flex-caption-title h3{ font-size: 24px;}
.flexslider .slides img { height: auto;}
}

@media screen and (max-width: 860px) {
   .flex-direction-nav .flex-prev {display: none;}
  .flex-direction-nav .flex-next {display: none;}
  .flexslider .slides img {height: auto;}
  .flex-caption {  width: 100%; padding: 0;}
}

@media screen and (max-width: 800px) {
  .flex-caption-title {width: 100%; border-radius: 0.2em;}
}

@media screen and (max-width: 600px) {
 .flex-direction-nav .flex-prev {display: none;}
  .flex-direction-nav .flex-next {display: none;}
  .flex-caption {display: none;}
}