/**== CSS for the blog page template ==**/
.kt-blog-post{
    margin:0 0 50px 0;
    border-bottom:1px solid rgba(200,200,200,0.3);
}
.kt-blog-post iframe{
    width:100%;
    height:400px;
}
.kt-blog-post.inverted > .kt-blog-list-body a,
.kt-blog-post.inverted > .kt-blog-list-body i{
    color:#ffffff !important;
}
.kt-blog-post.inverted > .kt-blog-list-body > .blog-list-read-more{
    border:1px solid #ffffff;
}
.kt-blog-post-image{
    position:relative;
}

.kt-blog-list-body{
    font-size:16px;
    margin-top:10px;
    margin-bottom:20px;

}
.kt-blog-list-body h2{
    margin:5px 0;
    font-size:42px;
    font-weight:100;
    font-family: "Montserrat Regular";
}
a.kt-article-title{
    color:#adde78;
    margin-bottom:-10px;
}
a.kt-article-title:hover{
    color:#509834;
}
.blog-list-meta.kt-post-meta-body{
    margin-bottom:10px;
}
.blog-list-meta p.meta-comments{
    margin:5px 0 !important;
}
.gallery-format-slider{
    padding:0;
}
.gallery-format-slider .owl-wrapper-outer{
    max-height:350px;
}
.blog-list-content{
    margin: 40px 0 30px 0;
}
.blog-list-read-more{
    border:3px solid #509834;
    margin:26px 0 26px 0;
    display: inline-block;
    padding:8px 22px;
    font-family: "Montserrat Regular";
}
.blog-list-read-more:hover{
    color:#adde78;
}
.no-thumb-meta{
    position:absolute;
    bottom:10px;
}
.blog-list-categories{
    margin-bottom:26px;
}
.blog-list-categories a{
    padding:2px 8px;
    font-size:14px;
    background:#e1e1e1;
    color:#7f7f7f;
    font-family:"Montserrat Regular";
    margin: 0 10px 0 0;
}
.blog-list-categories a:hover{
   background :#959595;
    color:#efefef;
}