/** CSS for the More Theme Page **/
.wrap{
    padding:30px 0;

}
body{
    background:none;
}
#more-themes-banner{
    margin:0 auto;
    display:block;
}
#themes-container-area{
    margin:20px 0;    
}
.single-theme{
    padding:10px;
    background:#fafafa;
    margin:0 0 25px 0;
    border:1px solid #121212;
}
.theme-name h2{
    margin:5px 0;
    padding:10px 5px;
    background:#000000;
    text-align:left;
    color:#ffffff;
    font-weight:bold;
}
.theme-preview{
    background:#01BAFD;
    padding:8px 20px;
    color:#ffffff;
}
.theme_actions{
    margin:20px 0 5px 0;
}